In [94]:
#cleaning and wrangling housing data
import pandas as pd
import numpy as np 

#reading the csv files
housedata = pd.read_csv('housing_neat.csv')

#normalising the suburb names into standardised lowercase
cleanhouse = pd.DataFrame(housedata)
rate = housedata['growth_pa']
region_id = pd.Series(cleanhouse['locality'])

#loop for standardising data region into lowercase
for i in range(len(region_id)):
    region_id[i] = str.lower(region_id[i])

cleanhouse['locality'] = region_id



#function to detect nulls
def valid_value(value):
    if type(value) == float or type(value) == int:
        return True
    else:
        return False
    
    
#function to fill in all the missing values
def fill_blanks(cleanhouse):
    nullvalue = False
    
    #looping through the rows 
    for i in range(len(cleanhouse)):
        
        #checking if there exists a growth_pa rate for this row
        ############################################################
        #Note that the growth_pa method of calculations produced uneven and often biased results and 
        #was replaced with a slightly less noisy method of replacing null cells with averages for the row
        if (valid_value(cleanhouse.ix[i, 'growth_pa'])):
            pa = cleanhouse.ix[i, 'growth_pa']
        else:
            pa = 0
            
        #initialising some variables, number of years in data set and zeros if detected
        nyears = len(cleanhouse.ix[0])-2
        zerocount = 0
        #mean = (len(cleanhouse.ix[i])).mean
        
        #checking if there is a zero value, counting them as things go
        for j in range(nyears):
            if(cleanhouse.ix[i, j+1]) == 0:
                nullvalue = True
                zerocount+= 1
            
        #replacing the zero values by the mean of the present values in the row
        if nullvalue:
            #calculate mean
            mean = (sum(cleanhouse.ix[i][1:-1]))/zerocount
            #loop through the row again to replace all the zeros with mean values
            for k in range(nyears):
                if ((cleanhouse.ix[i, k+1]) == 0):
                    cleanhouse.loc[i,str(2005+k)]= int(mean)

                        
        nullvalue = False    
                
    return cleanhouse   


cleanhouse = fill_blanks(cleanhouse)
cleanhouse.to_csv('cleanhouse.csv')
cleanhouse

,locality,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,growth_pa
0,abbotsford,427000,448000,602500,600000,638500,700000,704000,700000,773000,862500,925000,8.0
1,aberfeldie,534000,600000,735000,710000,775000,1046500,1003000,852500,947500,1045000,1185000,8.3
2,aireys inlet,459000,440000,430000,517500,512500,606000,680000,634000,664000,625500,677500,4.0
3,airport west,311500,320000,381000,421000,455000,570000,555500,495000,530000,573500,630000,7.3
4,albanvale,210000,210000,215000,252000,280000,320000,317000,310000,313000,326500,345000,5.1
5,albert park,681000,777000,986500,1125000,1050000,1155000,1390000,1260000,1360000,1503000,1705000,9.6
6,albion,216000,235000,262000,322500,349000,440000,400000,379500,380000,432000,472000,8.1
7,alexandra,200000,190000,207000,210000,220000,230000,255000,239000,261000,247500,285000,3.6
8,alfredton,283000,307500,300500,300000,300000,316000,333000,340000,360000,362000,340000,1.9
9,allansford,210000,240000,230000,232000,242500,250500,330000,257500,282500,242500,259000,2.1
10,alphington,552500,687500,740000,804000,832500,1000000,992500,1000000,1107500,1028000,1271500,8.7
11,altona,330000,370000,416000,480000,499000,627000,510000,555000,570000,645000,715000,8.0
12,altona east,295000,310000,391500,412500,435000,560000,528000,550000,552000,607500,656000,8.3
13,altona meadows,232000,252000,280000,310000,346500,386000,395000,375000,385000,413000,439000,6.6
14,altona north,277000,290000,355000,401000,417000,515000,520000,487500,510000,553500,637500,8.7
15,anglesea,391000,410000,445000,455000,516500,580000,600500,595000,550000,612500,637000,5.0
16,apollo bay,350000,360000,415000,362500,430000,435000,495000,432500,450000,460000,435000,2.2
17,ararat,148000,145000,148500,145000,159500,174500,169000,165000,179500,201000,210000,3.6
18,ardeer,206000,214500,234000,275500,312000,382500,360000,342000,330000,360000,381500,6.4
19,armadale,801000,900000,1250000,1415000,1605000,1690000,1546500,1505000,1651000,1750000,2160000,10.4
20,armstrong creek,319416,319416,319416,319416,319416,319416,205000,362500,467500,441500,440000,NaN
21,arthurs seat,370000,275000,385000,442500,410000,470000,662500,715000,480000,705000,820000,8.3
22,ascot (bendigo),285000,263000,270000,275000,279000,330000,322000,350000,349500,339000,350000,2.1
23,ascot vale,425000,480000,600000,667000,622500,750000,734000,700000,742500,809500,880500,7.6
24,ashburton,517500,600000,811500,809000,787500,983500,890000,870000,993000,1200000,1452500,10.9
25,ashwood,381000,434000,573000,604000,640000,745500,750000,682000,775000,884000,1140000,11.6
26,aspendale,365000,400000,500000,507500,547500,640000,626500,607500,620000,690000,790500,8.0
27,aspendale gardens,377000,385000,435000,475000,497500,581000,550000,552000,586500,632000,715000,6.6
28,attwood,291000,359500,365000,440000,485000,576000,592000,500000,537500,515000,601500,7.5
29,avenel,184000,190000,206000,172500,212500,268500,221500,230500,231000,302000,245000,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,williams landing,290000,346000,328000,329000,355000,367500,371000,450000,470000,450000,524000,6.1
746,williamstown,625000,595000,750000,749000,800000,884000,895000,910000,913000,970000,1120000,6.0
747,williamstown north,409000,441500,521000,498500,500000,680000,839000,680000,680000,792000,850000,7.6
748,wimbledon heights,187500,210000,266000,252500,260000,299000,259000,290000,271500,310000,291500,4.5
749,winchelsea,198000,210000,175000,196000,206000,235000,260000,268500,287000,287500,262000,2.8
750,windsor,489000,585000,727500,731500,779500,856000,822000,815500,825000,961000,1113000,8.6
751,winter valley,331000,260000,270000,284000,276000,325000,325000,353500,340000,340500,365000,1.0
752,wodonga,226000,245000,239500,242000,240000,262000,277500,255500,283000,295000,295000,2.7
753,wollert,730250,730250,730250,730250,403000,425000,450000,410000,400000,395000,438000,NaN
754,wonga park,450000,434000,500500,505000,667000,620000,672500,622500,674500,675000,735000,5.0
755,wonthaggi,190000,198000,220000,227500,250000,275000,261500,229000,231000,253000,260000,3.2
756,woodend,256000,308000,325000,339000,339000,480000,477500,430000,470000,455000,492500,6.8
757,woolamai waters,225000,240000,251000,271000,280000,342500,350000,347500,349500,383000,340000,4.2
758,woori yallock,198000,210000,219000,257000,278000,300000,312000,315000,330000,317000,359500,6.1
759,wurruk,170000,166500,179000,225000,223000,175500,216500,235000,285000,222000,237500,3.4
760,wy yung,395000,252500,270000,280000,269000,289000,288500,325000,283000,285000,290000,-3.0
761,wycheproof,56000,100000,102500,91000,115000,86000,86000,96500,95000,103000,108000,6.8
762,wye river,391000,510000,520000,454000,635000,760000,680000,557500,813000,646500,517000,2.8
763,wyndham vale,195000,212000,215000,233000,260000,298000,290000,287000,288500,305000,325000,5.2
764,yackandandah,233000,270000,229000,220000,225000,289000,295000,272500,327500,318000,300000,2.6
765,yallambie,335000,345500,371000,410000,442500,507000,506000,471000,532500,580000,665000,7.1
766,yallourn north,98500,96000,118500,125000,120000,145000,139000,161000,135000,145000,153500,4.5
767,yarra glen,273500,290000,320000,315000,365000,415000,430000,395000,420000,460000,515000,6.5
768,yarra junction,212500,285000,242000,308500,284000,350000,370000,397000,403000,352000,417500,7.0
769,yarragon,185000,166500,197000,185000,196500,206000,255000,266000,258000,303500,272000,3.9
770,yarram,160000,180000,172000,178500,180000,166000,201000,215000,190000,202500,245000,4.4
771,yarraville,365000,385000,490000,510000,541000,644000,610000,607000,692500,715500,816000,8.4
772,yarrawonga,251000,258500,268500,273000,277500,297000,267500,300000,305000,297000,300000,1.8
773,yea,208000,220000,213000,225000,217000,240000,270000,255000,257500,255000,262500,2.4
774,yinnar,155000,150000,167500,197500,183000,280500,208000,221500,220000,240000,182500,1.6

In [1]:
#cleaning and wrangling language data
import pandas as pd
import numpy as np 

#reading the csv files
langdata = pd.read_csv('language_neat.csv')

#normalising the suburb names into standardised lowercase
cleanlang = pd.DataFrame(langdata)
region_id = pd.Series(cleanlang['region_id'])

#loop for standardising data region into lowercase
for i in range(len(region_id)):
    region_id[i] = str.lower(region_id[i])

cleanlang['region_id'] = region_id


#export to a clean csv file
cleanlang.to_csv('cleanlang.csv')
cleanlang

,region_id,english_only_2011,arabic_2011,chinese_2011,greek_2011,italian_2011,vietnamese_2011
0,abbotsford,3104,10,206,216,45,402
1,airport west,4475,57,134,269,942,18
2,albert park,10761,46,585,809,219,42
3,alexandra,5529,3,22,11,12,6
4,alfredton,7531,11,82,56,9,0
5,alphington fairfield,5799,50,227,623,397,68
6,alps east,0,0,0,0,0,0
7,alps west,18,0,0,0,0,0
8,altona,8779,58,272,187,276,113
9,altona meadows,10933,592,593,580,547,551
10,altona north,5439,1582,435,764,984,607
11,ararat,7069,10,19,8,17,3
12,ararat region,2675,0,0,0,0,0
13,ardeer albion,3019,125,251,83,135,609
14,armadale,6446,10,348,272,92,33
15,ascot vale,8753,221,480,356,656,424
16,ashburton,5746,26,458,218,83,67
17,ashwood chadstone,8887,132,2018,955,408,215
18,aspendale gardens waterways,5690,32,528,362,155,230
19,avoca,3003,3,7,6,7,0
20,bacchus marsh,15509,27,29,62,101,38
21,bacchus marsh region,5038,0,8,9,30,4
22,bairnsdale,12128,3,52,7,129,31
23,ballarat,11141,24,99,26,49,9
24,ballarat north,19879,33,103,28,98,13
25,ballarat south,20443,104,176,25,39,21
26,balwyn,9891,42,2721,448,264,183
27,balwyn north,11910,125,3251,1230,711,235
28,bannockburn,4301,8,6,4,30,10
29,bayswater,8280,40,611,90,74,79
...,...,...,...,...,...,...,...
404,warrnambool north,17743,41,66,24,26,0
405,warrnambool south,11767,26,77,22,34,15
406,watsonia,7046,62,273,170,274,6
407,wattle glen diamond creek,11975,27,34,91,225,16
408,wendouree miners rest,12804,18,77,8,21,21
409,werribee,21216,322,302,177,567,207
410,werribee south,7745,55,134,134,908,18
411,west footscray tottenham,5234,94,396,206,327,1065
412,west melbourne,0,0,0,0,0,0
413,west wimmera,2664,0,0,0,0,0
414,west wodonga,13385,16,44,14,64,6
415,wheelers hill,10850,209,2401,1175,737,234
416,white hills ascot,8059,22,14,6,24,6
417,whittlesea,6413,9,9,80,197,0
418,williamstown,12068,99,117,396,352,90
419,wilsons promontory,10,0,0,0,0,0
420,winchelsea,5202,0,8,8,16,0
421,wodonga,19110,39,51,19,78,14
422,wonthaggi inverloch,18213,25,39,58,211,7
423,woodend,5735,0,12,12,49,0
424,wyndham vale,13142,140,177,79,123,77
425,yackandandah,4093,0,0,0,10,0
426,yallourn north glengarry,4059,0,0,3,14,0
427,yarra north,6454,27,109,293,194,57
428,yarra valley,14280,0,33,30,52,8
429,yarram,4722,6,9,12,20,11
430,yarraville,9639,122,321,743,379,421
431,yarrawonga,6358,0,23,4,22,0
432,yarriambiack,6351,16,18,5,6,0
433,yea,2998,0,15,18,14,0

In [4]:
#cleaning and wrangling population data
import pandas as pd
import numpy as np 

#reading the csv files
popdata = pd.read_csv('population_neat.csv')

#normalising the suburb names into standardised lowercase
cleanpop = pd.DataFrame(popdata)
region_id = pd.Series(cleanpop['region_id'])

#loop for standardising data region into lowercase
for i in range(len(region_id)):
    region_id[i] = str.lower(region_id[i])

cleanpop['region_id'] = region_id


#export to a clean csv file
cleanpop.to_csv('cleanpop.csv')
cleanpop

                        region_id  population_2011
0                      abbotsford             4819
1                    airport west             6931
2                     albert park            15356
3                       alexandra             5939
4                       alfredton             8226
5           alphington  fairfield             8127
6                      alps  east                0
7                      alps  west               26
8                          altona            11667
9                  altona meadows            18640
10                   altona north            12972
11                         ararat             7961
12                  ararat region             2855
13                 ardeer  albion             7191
14                       armadale             8694
15                     ascot vale            13351
16                     ashburton              7498
17             ashwood  chadstone            16272
18   aspendale gardens  waterways             8644
19                          avoca             3195
20                  bacchus marsh            17017
21           bacchus marsh region             5475
22                     bairnsdale            13076
23                       ballarat            12447
24                ballarat  north            21561
25                ballarat  south            22654
26                         balwyn            15476
27                   balwyn north            19776
28                    bannockburn             4614
29                      bayswater            11141
..                            ...              ...
404            warrnambool  north            19037
405            warrnambool  south            13148
406                      watsonia             8877
407    wattle glen  diamond creek            13179
408        wendouree  miners rest            13927
409                      werribee            29458
410               werribee  south            10512
411     west footscray  tottenham            10225
412                west melbourne                0
413                  west wimmera             2808
414                  west wodonga            14329
415                 wheelers hill            18973
416            white hills  ascot             8589
417                    whittlesea             7230
418                  williamstown            14795
419            wilsons promontory                9
420                    winchelsea             5539
421                       wodonga            21029
422          wonthaggi  inverloch            20271
423                       woodend             6285
424                  wyndham vale            17229
425                  yackandandah             4295
426     yallourn north  glengarry             4309
427                  yarra  north             8041
428                  yarra valley            15696
429                        yarram             5075
430                    yarraville            13591
431                    yarrawonga             7085
432                  yarriambiack             6792
433                           yea             3339

[434 rows x 2 columns]